.info {
	margin-right: 100px;
}

.track-image {
	position: relative;
}
.track-number {
	font-size: 32px;
	position: absolute;
	left: 15%;
	right: 15%;
	bottom: 10px;
	z-index: 10;
	color: #ffffff;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

.playing {
	.track-number-playing {
		visibility: visible !important;
	}
}